version: "3.9"

services:
  # ==========================
  # RabbitMQ
  # ==========================
  rabbitmq:
    image: rabbitmq:3-management
    container_name: restaurant_rabbitmq
    restart: unless-stopped
    ports:
      - "5676:5672"
      - "15676:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: secret123
    networks:
      - restaurant_net

  # ==========================
  # Restaurant Database
  # ==========================
  restaurant-db:
    image: mysql:8
    container_name: restaurant_mysql
    restart: unless-stopped
    env_file:
      - .env.restaurant
    environment:
      MYSQL_ROOT_PASSWORD: ${RESTAURANT_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${RESTAURANT_DB_NAME}
      MYSQL_USER: ${RESTAURANT_DB_USER}
      MYSQL_PASSWORD: ${RESTAURANT_DB_PASSWORD}
    volumes:
      - restaurant_data:/var/lib/mysql
    networks:
      - restaurant_net

  # ==========================
  # Restaurant Service
  # ==========================
  restaurant-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: restaurant_service
    restart: unless-stopped
    depends_on:
      - restaurant-db
      - rabbitmq
    env_file:
      - .env.restaurant
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://restaurant-db:3306/${RESTAURANT_DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: ${RESTAURANT_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${RESTAURANT_DB_PASSWORD}
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: admin
      SPRING_RABBITMQ_PASSWORD: secret123
    ports:
      - "8086:8087"
    volumes:
      - C:/Users/natas/.m2:/root/.m2
    networks:
      - restaurant_net

networks:
  restaurant_net:

volumes:
  restaurant_data:
